# 📄 Dokumentasi Pengujian UI Sistem

Dokumentasi ini berisikan hasil pengujian antarmuka pengguna (*User Interface*) untuk memastikan bahwa setiap fitur utama seperti menampilkan data, menambah data, mengedit data, mencari data, dan menghapus data dapat berjalan dengan baik sesuai dengan alur sistem.

---

Terdapat 10 test case pada sistem yang perlu dilakukan testing yaitu sebagai berikut.

1. **Cek status API** <br>
Pada tahap ini dilakukan pengecekan apakah sistem berhasil terhubung dengan API atau *backend*.
<img src="image/test1-api-connected.png">
Berdasarkan gambar tersebut menunjukkan bahwa sistem menampilkan status API Connected yang menandakan bahwa sistem telah berhasil terhubung dengan API atau frontend berhasil berkomunikasi dengan backend.<p>

2. **Items dari Modul 2 muncul di daftar** <br>
